* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  font-family: oswald;
}

#banner {
  height: 120vh;
}

#banner::before {
  content: "";
  background-image: url("/images/zayn1-bg.jpg");
  background-size: cover;
  position: absolute;
  inset: 0px;
  opacity: 0.4;
}

.banner-text {
  text-align: center;
  color: white;
  padding: 180px;
}

.banner-text h1 {
  font-size: 132px;
}

#blink {
  animation: blinker 1.5s linear infinite;
}

/* .banner-text p{
	font-size: 20px;
} */

.banner-btn {
  position: absolute;
  left: 36%;
  top: 80%;
}

.banner-btn a {
  width: 150px;
  display: inline-block;
  margin: 0 12px;
  padding: 12px 0;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  background-color: #000000;
  color: white;
}

.banner-btn a:hover {
  background-color: #29282e;
  font-size: 28px;
}
